.containerVersatility {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstContainerVesatility {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.animateRight {
  animation: moveRight 25s ease-in-out infinite;
}

.animateLeft {
  animation: moveLeft 25s ease-in-out infinite;
}

@keyframes moveRight {
  0% {
    transform: translate3d(-45%, 0, 0);
  }
  50% {
    transform: translate3d(-20%, 0, 0);
  }
  100% {
    transform: translate3d(-45%, 0, 0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate3d(-20%, 0, 0);
  }
  50% {
    transform: translate3d(-60%, 0, 0);
  }
  100% {
    transform: translate3d(-20%, 0, 0);
  }
}

/* Posters */

.postersVersatility {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 20px repeat(3, 1fr) 20px repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.posterContainerVersatility {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.posterContainerVersatility > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.posterContainerVersatility1 {
  grid-column: 1 / 4;
  grid-row: 2 / span 2;
}

.posterContainerVersatility2 {
  grid-column: 5 / 8;
  grid-row: 1 / span 2;
  border-radius: 20px;
  width: 80%;
}

.posterContainerVersatility3 {
  grid-column: 9 / 12;
  grid-row: 2 / span 2;
}

/* .poster2 {
  grid-column: 5 / 8;
  grid-row: 1 / span 2;
  border-radius: 20px;
  width: 80%;
} */

/* .poster3 {
  grid-column: 9 / 12;
  grid-row: 2 / span 2;
} */
