.containerHeader {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.verticalLine {
  height: 30%;
  width: 1px;
  background-color: #a178ea;
}
