.containerHeader {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  /* justify-content: end; */
  align-items: center;
  /* gap: 20px; */
  position: relative;
  z-index: 2;
}

.mainLogoContainer {
  width: 50px;
  place-self: center;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 15%);
}

.redirectsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.mainLogo {
  width: 100%;
  object-fit: contain;
}

.verticalLine {
  height: 20px;
  width: 1px;
  background-color: #a178ea;
  bottom: 300%;
}
