.clientsOpinionsContainer {
  height: 800px;
  width: 100vw;
  overflow-x: visible;
  z-index: 9;
}

.clientItemsContainer {
  height: 400px;
}

.titleContainerClients {
  padding: 0 10%;
}

.clientsOpinionsTitle {
  color: #dacaff;
}

@media (min-width: 2000px) {
  .clientsOpinionsContainer {
    height: 1000px;
  }
}
