.brands {
  margin-top: 300px;
  width: 100vw;
  position: relative;
  margin-bottom: 100px;
}

.brand {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.brandsTitleContainer {
  padding: 0 10%;
}

.brandTitle {
  font-size: 68px;
  font-family: 'Roboto-Medium';
  max-width: 612px;
  text-align: left;
}

.logoContainer {
  margin: 70px 0px;
  width: 100vw;
}

.logo {
  height: auto;
  width: 330px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.logo:last-child {
  margin-right: 0;
}

.logoContainer > * :focus {
  outline: 0;
}
